@media screen and (max-width: 991px) {
.navbar-nav{
	margin:0px;
}
nav{height:auto;width:100%}
nav ul{width:100%;display:block;height:auto;margin:0;padding:0;border-top: 1px solid #A8AEB1;}
nav ul li{width:100%;float:left;position:relative;text-align:center}
nav ul li:first-child{background-color:#FFF;}
nav ul li a{width:100%;float:left;position:relative;padding:25px 0;text-align:center;border-bottom: 1px dotted #A8AEB1;}
nav ul li .nav .dropdown {width:100%;border: none;  border-radius: 0px;}
.dropdown-menu a{
	border:none;
}
nav ul li div.contact_us a{padding: 25px 0px 0px;}
nav ul li div:last-child{margin: 0px auto 0px auto;};
nav ul li:first-child a.signin-button{background-color: #E0E0E0; }
nav ul li a.last{border-bottom:none}
.laptop-placeholder img{max-width:80%}
}
@media only screen and (max-width : 991px) {
nav{border-bottom:0}
nav ul:not(.dropdown-menu):not(.nav){display:none;height:auto}
.pullcontainer{width:100%;text-align:right;padding:18px 40px 0 0}
.pullcontainer a#pull{display:inline;width:100%;color: #860808;}

a#pull:hover{
color: #680000;
}
}

/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/

	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr hr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr span {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
 	}		
}